<div id="all">
  <h2>All products</h2>
  <app-loader [isActive]="isLoading"></app-loader>
  <ng-container *ngIf="!isLoading">
    <div class="flex">
      <p>Sort by: </p>
      <a (click)="sortHandler(0)" [ngClass]="{'active-sort': sort === 0}">Likes</a>
      <a (click)="sortHandler(1)" [ngClass]="{'active-sort': sort === 1}">Create time</a>
      <mat-paginator *ngIf="!isProductsEmpty" [length]="paginatorLength" [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex - 1" (page)="pageEvent($event)"
                     id="paginator">
      </mat-paginator>
    </div>
    <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    <p *ngIf="isProductsEmpty">No products</p>
  </ng-container>
</div>
