*, .container-fluid {
  margin: 0;
  padding: 0;
}

.card {
  display: inline-block;
  margin-bottom: 70px;
}

footer {
  position: fixed;
  width: 100%;
  background-color: #77bbd4;
  color: white;
  bottom: 1px;
  margin-top: 30px;
  text-align: center;
}

footer p {
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 90%;
    margin-bottom: 10px;
  }

  #header h1 {
    max-width: 500px;
  }

  .my-form {
    width: 100% !important;
  }

  .justify {
    width: 90% !important;
  }

  form button {
    top: 140px;
    left: 5% !important;
  }

  #register, #login, #create-product, #product-details {
    width: 90% !important;
  }

  .details-image {
    max-width: 100% !important;
    margin: 20px auto;
    display: block;
  }

  span {
    display: block;
    left: 30% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .my-form {
    width: 100% !important;
  }

  form button {
    top: 140px;
    left: 5% !important;
  }
}

footer, nav {
  z-index: 999;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

textarea.ng-invalid.ng-touched {
  border-color: red;
}
