<div id="create-product">
  <h2>Add product for sell</h2>
    <input type="text" name="title" class="form-control my-form" placeholder="Title" />
    <textarea name="description" class="form-control my-form" placeholder="Description"></textarea>
    <div style="margin: 20px;"></div>
    <input type="text" name="startPrice" class="form-control my-form" placeholder="Start price" />
    <input type="text" name="endDate" class="form-control my-form" placeholder="End date" />
    <div style="margin: 20px;"></div>
    <div class="custom-file my-form">
      <input type="file" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile" style="text-align: left;color: gray">Upload
        image</label>
    </div>
    <button type="button" class="btn btn-primary" id="create-button">Add product</button>
</div>
