h2 {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

.row {
  width: 50%;
  margin: 0 auto 100px;
}

.second-row {
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.bid {
  padding-top: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.bid:last-child {
  border: 0;
}

:host {
  display: block;
  padding-bottom: 100px;
}
