<div id="register">
  <h2>Register</h2>
  {{errorMessage}}
  <input type="text" class="form-control my-form" name="email" placeholder="Email" [formControl]="email"/>
  <span *ngIf="email.invalid">Email is invalid</span>
  <input type="password" class="form-control my-form" name="password" placeholder="Password" [formControl]="password"/>
  <input type="password" class="form-control my-form" name="repeatPassword" placeholder="Repeat password"
         [formControl]="repeatPassword"/>
  <button type="button" class="btn btn-primary" (click)="register()" [disabled]="email.invalid">Register</button>
</div>
