footer {
  position: fixed;
  width: 100%;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  bottom: 0;
  margin-top: 30px;
  text-align: center;
  display: block;
}

footer p {
  text-transform: uppercase;
  padding-top: 10px;
}

footer {
  z-index: 999;
}

#terms-and-conditions{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#terms-and-conditions span{
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 2px solid white;
}

#terms-and-conditions span:last-child{
  border: 0;
}
