/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-mode {
  --header-bg-color: #77bbd4;
  --footer-bg-color: #77bbd4;
  --header-text-color: black;
  --footer-text-color: black;
}

.dark-mode {
  --header-bg-color: #72939f;
  --footer-bg-color: #72939f;
  --header-text-color: white;
  --footer-text-color: white;
}
