.card {
  display: inline-block;
  margin-bottom: 70px;
}

.card-body {
  padding-bottom: 0;
}

img {
  /*height: 250px;*/
}

#like-counter {
  position: relative;
  top: -30px;
  right: -40%;
}

#like-counter p{
  display: inline-block;
  margin-right: 5px;
}

/*#like-counter app-like-icon {}*/


@media only screen and (max-width: 600px) {
  .card {
    max-width: 90%;
    margin-bottom: 10px;
  }
}

