#product-details {
  /*position: absolute;*/
  text-align: center;
  margin: 0 auto 100px;
  width: 50%;
}

.details-image {
  margin-right: 30px;
  max-height: 350px;
  max-width: 30%;
  display: block;
  transition: transform .3s;
}

.bold {
  font-weight: bold;
}

.data{
  margin-left: 10px;
}

.justify {
  text-align: justify;
  margin: 0 auto 20px;
}

h2 {
  margin-bottom: 20px;
}

#place-bid {
  text-align: left;
}

#place-bid-input-container {
  position: relative;
  left: 0;
  display: inline-block;
  width: 100%;
}

.details-image:hover {
  transform: scale(1.2);
}

#bid-label {
  font-size: 22px;
}

#place-bid-btn-container {
  margin-top: 10px;
}

#delete-btn {
  margin-right: 20px;
}

#edit-btn {
  margin-left: 20px;
}

#no-bids {
  color: gray;
}

.bid {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.bid:last-child{
  border: none;
}

@media only screen and (max-width: 768px) {
  .justify {
    width: 90% !important;
  }

  .details-image {
    max-width: 100% !important;
    margin: 20px auto;
    display: block;
  }

  .details-image:hover {
    transform: scale(1);
  }

  #product-details {
    width: 90% !important;
  }

  span {
    display: block;
    left: 30% !important;
  }
}


