<div id="product-details">
  <ng-container *ngIf="product">
    <h2 id="page-heading">Product: {{product.title}}</h2>
    <a routerLink="/" class="back"><- Back</a>
    <img src="{{product.image}}" alt="{{product.title}}" class="details-image"/>
    <p class="justify"><span class="bold">Title:</span><span class="data">{{product.title}}</span></p>
    <p class="justify"><span class="bold">Description:</span><span class="data">{{product.description}}</span></p>
    <p class="justify"><span class="bold">End date:</span><span class="data">{{product.endString}}</span></p>
    <p class="justify"><span class="bold">Start price:</span><span
      class="data">{{product.startPrice | currency}}</span></p>
    <p class="justify"><span class="bold">Current price:</span><span
      class="data">{{(product.priceValue ? product.priceValue : product.startPrice) | currency}}</span></p>
    <p class="justify">
      <span class="bold">Creator:</span>
      <span class="data">
        <a [routerLink]="['/user/profile', product.isOwner ? '': product.creator._id]">{{product.creator.email}}</a>
        {{product.isOwner ? ' (You) ' : ''}}
      </span>
    </p>
    <div id="like-counter">
      <p>{{product.likes.length}}</p>
      <app-like-icon></app-like-icon>
      <ng-container *ngIf="!product.isOwner && isLoggedIn">
        <button class="btn btn-primary" *ngIf="!product.likes.includes(userId)" (click)="likeHandler()">Like</button>
        <p class="like-already-liked" *ngIf="product.likes.includes(userId)">Already liked</p>
      </ng-container>
    </div>
    <hr>
    <div class="post-comment" *ngIf="!product.isOwner && isLoggedIn">
      <form #commentForm="ngForm" (ngSubmit)="commentHandler(commentForm); commentForm.reset()">
        <label for="post-comment-area">Write your comment:</label>
        <p style="margin: 0" *ngIf="commentInput.touched && commentInput.invalid">Comment must be at least 20 chars.</p>
        <textarea class="form-control" id="post-comment-area" name="comment" #commentInput="ngModel" ngModel
                  minlength="20" required></textarea>
        <button class="btn btn-primary" [disabled]="commentForm.invalid">Post</button>
      </form>
    </div>
    <div class="comments">
      <h3>Comments</h3>
      <div class="comment" [ngClass]="{'bottom-border': (i + 1) !== commentsDisplayCount}"
           *ngFor="let comment of product.comments.slice(0, commentsDisplayCount); let i = index">
        <p>Created at: {{comment.createTime | date}} from {{comment.creator.email || email}}</p>
        <p>{{comment.body}}</p>
      </div>
      <button class="btn btn-primary" id="comment-show-more" (click)="showMoreComments()"
              *ngIf="isShowMoreCommentsBtnActive">Show more
      </button>
      <p *ngIf="product.comments.length === 0">no comments</p>
    </div>
    <ng-container *ngIf="isLoggedIn">
      <ng-container *ngIf="!product.isOwner">
        <hr>
        <form #bidForm="ngForm" (ngSubmit)="bidHandler(bidForm)">
          <div id="place-bid" class="clearfix">
            <label for="bid" id="bid-label">Place your bid</label>
            <div id="place-bid-input-container">
              <input class="form-control" id="bid" placeholder="Your bid" name="bid" ngModel
                     #bidInput="ngModel"
                     [appMin]="(product.priceValue ? product.priceValue : product.startPrice)"
                     required/>
              <span *ngIf="bidInput.invalid">
                Bid value must be number greater than {{(product.priceValue ? product.priceValue : product.startPrice) | currency}}
              </span>
            </div>
            <div id="place-bid-btn-container">
              <button class="btn btn-primary pull-right" [disabled]="bidForm.invalid">Bid</button>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="product.isOwner">
        <hr>
        <div id="bid-admin">
          <h3>Administration product</h3>
          <button class="btn btn-danger" id="delete-btn" (click)="deleteHandler(product)">Delete</button>
          <button class="btn btn-warning" id="edit-btn" [routerLink]="['/product', product._id, 'edit']">Edit</button>
        </div>
        <hr>
        <div id="all-bids">
          <h3>All bids</h3>
          <p id="no-bids" *ngIf="product.bids.length === 0">no bids</p>
          <div class="bid" *ngFor="let bid of product.bids.slice(0, bidsDisplayCount)">
            <p>Bid value: {{bid.priceValue}}</p>
            <p>Bid from: {{bid.creator.email}}</p>
          </div>
          <button class="btn btn-primary" id="bid-show-more" (click)="showMoreBids()" *ngIf="isShowMoreBtnActive">
            Show more
          </button>
        </div>
      </ng-container>
    </ng-container>
    <a routerLink="/" class="back"><- Back</a>
    <br>
  </ng-container>
  <!--  <p>{{product}}</p>-->
  <app-loader [isActive]="!product"></app-loader>
</div>

