#product-details {
  position: relative;
  text-align: center;
  margin: 0 auto 800px;
  width: 50%;
}

.details-image {
  margin-right: 30px;
  max-width: 350px;
  display: block;
}

.bold {
  font-weight: bold;
}

.justify {
  text-align: justify;
  margin: 0 auto 20px;
}

h2 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .justify {
    width: 90% !important;
  }

  .details-image {
    max-width: 100% !important;
    margin: 20px auto;
    display: block;
  }

  #product-details {
    width: 90% !important;
  }

  span {
    display: block;
    left: 30% !important;
  }
}


